/* Generic styles start */
:root {
  --yellow: rgb(255, 200, 57);
  --light-bg: rgb(255, 245, 218);
  --info-text: rgb(60, 60, 60);

  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
/* Generic styles end */

/* Header start */
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 17, 255, 0.365),
      rgba(0, 4, 255, 0.5),
      rgba(17, 0, 255, 0.9)
    ),
    url("../images/header_bg.jpg");
  min-height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 2em 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 1em;
}

header nav a {
  text-decoration: none;
  color: white;
}

header nav .logo {
  font-size: 2rem;
  font-weight: 700;
}

header nav .logo span {
  color: var(--yellow);
}

header .header_info {
  margin-top: 7em;
  width: 70%;
}

header .header_info h1 {
  font-size: 4em;
}

header .header_info h2 {
  font-size: 1.5em;
}

header .header_search {
  background-color: rgba(255, 255, 255, 0.322);
  height: 200px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

@media (max-width: 1080px) {
  header nav {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  header .header_info {
    width: 90%;
  }
}
@media (max-width: 768px) {
  header nav {
    flex-direction: row;
  }

  header nav ul {
    display: none;
  }

  header .header_info {
    width: 100%;
  }
}

/* Header end */

/* Articles start */

.articles {
  margin-top: 2em;
  display: flex;
  gap: 2em;
}

.articles .article {
  flex: 1;
  height: 500px;
  box-shadow: 0px 0px 11px #00000057;
  transition: 0.5s;
}

.articles .article:hover {
  background-color: var(--yellow);
}
.articles .article:hover .article_title span {
  background-color: white;
}

.articles img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article_title {
  display: flex;
  padding-left: 20px;
  align-items: center;
  padding-top: 30px;
  gap: 15px;
}

.article_title span {
  font-size: 29px;
  background: var(--yellow);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  box-shadow: 0px 1px 5px #000000a1;
  transition: 0.5s;
}

@media (max-width: 945px) {
  .articles img {
    height: 300px;
  }
  .articles .article {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
  }
  .articles img {
    height: 350px;
  }
  .articles .article {
    flex-basis: 452px;
  }
}

/* Articles end */

/* Why housesale start */
.why_housesale {
  display: flex;
  margin-top: 5em;
}

.why_housesale_box {
  flex: 2;
}

.why_housesale_image {
  flex: 1;
  position: relative;
}

.why_housesale_image img {
  width: 100%;
  object-fit: cover;
}

.why_housesale_image::before {
  content: "";
  width: 100px;
  height: 400px;
  display: block;
  position: absolute;
  background-color: var(--yellow);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  left: -54px;
}

.why_housesale h2 {
  font-size: 2em;
  margin-bottom: 1.8em;
}

.why_info {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
  font-size: 1.2em;
  color: var(--info-text);
}

.why_info p:first-child {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.why_info img {
  width: 100px;
}

@media (max-width: 1100px) {
  .why_housesale {
    flex-direction: column;
  }

  .why_housesale_image img {
    height: 300px;
    object-position: 0 57%;
  }

  .why_housesale_image::before {
    display: none;
  }
}
/* Why housesale end */

/* Book professionals start */
.phone {
  background-color: var(--light-bg);
  padding: 3em 4em;
  display: flex;
  flex-direction: column;
  font-size: 150%;
  margin-top: 2em;
}

.phone h2 {
  margin-top: 0;
  margin-bottom: 4px;
}

.phone_input_box {
  width: 24em;
  position: relative;
}

.phone_input_box button {
  position: absolute;
  right: 5px;
  padding: 10px 20px;
  background: var(--yellow);
  border: none;
  top: 5px;
}

.phone input {
  width: 100%;
  padding: 13px;
}

.phone p {
  color: var(--info-text);
}

@media (max-width: 852px) {
  .phone {
    font-size: 110%;
  }
}

@media (max-width: 600px) {
  .phone_input_box {
    width: 100%;
  }
  .phone {
    padding: 2em 1em;
  }
}
/* Book professionals end */

/* Houses start */

.houses_section h2 {
  margin-top: 3em;
}

.houses {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.houses img {
  width: 24%;
  height: 380px;
  object-fit: cover;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .houses > img {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .houses > img {
    width: 100%;
  }
}
/* Houses end */

/* Collections start */
.collections_section h2 {
  margin-top: 3em;
}

.collections {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  color: var(--info-text);
}

.collections button {
  background: var(--yellow);
  border: none;
  padding: 15px 40px;
}

.collections > * {
  width: 48%;
}

.collections .collection_images {
  display: flex;
}

.collections .collection_images {
  display: flex;
  justify-content: space-between;
}

.collection_images img {
  width: 30%;
  object-fit: cover;
  object-position: right;
}
@media (max-width: 900px) {
  .collections {
    flex-direction: column;
    gap: 2em;
    margin-top: 0;
  }
  .collections > * {
    width: 100%;
  }
  .collections button {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .collections .collection_images {
    flex-direction: column;
    gap: 20px;
  }
  .collection_images img {
    width: 100%;
  }
}
/* Collections end */

/* Footer start */
footer {
  margin-top: 6em;
  background-color: rgb(0, 4, 122);
  color: var(--info-text);
  padding: 30px 0;
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1000px) {
  footer {
    margin-top: 2em;
  }
  footer ul {
    height: 100px;
  }
  footer ul li {
    width: calc(100% / 4);
  }
}

@media (max-width: 650px) {
  footer ul {
    height: 200px;
  }
  footer ul li {
    width: calc(100% / 2);
  }
}
/* Footer end */
